@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Style for search results */
.search-results {
    margin: 20px 0;
}

.search-results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-results li {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.search-results li h2 {
    font-size: 24px;
    margin: 0;
}

.search-results li p {
    font-size: 16px;
    margin: 10px 0;
}

.search-results li a {
    color: #333;
    display: block;
    text-decoration: none;
}

.search-results li a:hover {
    background-color: #f4f4f4;
}

/* Style for pagination */
.pagination {
    margin: 20px 0;
}

.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.pagination li a:hover {
    background-color: #555;
}

.pagination li.active a {
    background-color: #555;
}

.form-control:focus {
    box-shadow: none;
}

.back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
}

.back-to-top-btn:hover {
    background-color: #555;
}


/* For Button */
.card-creative {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(160, 160, 160, 0.2);
    margin-bottom: 20px;
    overflow: hidden;

}

.card-header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
}

.widget-title a {
    color: #050000;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.card-body {
    padding: 20px;
}

ul.list-unstyled {
    margin-bottom: 0;
}

ul.list-unstyled li {
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
}

ul.list-unstyled li:last-child {
    border-bottom: none;
}

.category-text {
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.widget_categories {
    position: sticky;
    top: 20px;
    /* adjust the top value according to your preference */
}

.count {
    background-color: #0004ff;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
    text-align: center;
    width: 24px;
}

/* tagify */

.tagify__tag {
    background-color: #e2eaf3;
    border-radius: 3px;
    color: #6c757d;
    display: inline-block;
    font-size: 0.875rem;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0.25rem 0.5rem;
}
